.trash-g {
	stroke: none;
	stroke-width: 0;
	stroke-dasharray: none;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 10;
	fill: none;
	fill-rule: nonzero;
	opacity: 1;
	transform: translate(1.4065934065934016 1.4065934065934016) scale(2.81 2.81);
}

.trash-icon {
	stroke: none;
	stroke-width: 1;
	stroke-dasharray: none;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 10;
	fill: rgb(204, 51, 51);
	fill-rule: nonzero;
	opacity: 1;
}

